@font-face {
  font-family: FuturaRegular;
  src: url('./fonts/Futura\ Book\ font.ttf');
}
@font-face {
  font-family: FuturaMedium;
  src: url('./fonts/futura\ medium\ bt.ttf');
}
@font-face {
  font-family: FuturaBold;
  src: url('./fonts/Futura\ Bold\ font.ttf');
}
@font-face {
  font-family: FuturaLight;
  src: url('./fonts/futura\ light\ bt.ttf');
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #152a25;
}
#barWeb {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.home {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./assets/bgtop.png'), url('./assets/Group\ 48095436.png'),
    url('./assets/Group\ 48095437.png'), url('./assets/bggddf.png'),
    url('./assets/token.png'), url('./assets/lastBg.png');
  background-repeat: no-repeat;
  background-size: 100% 1330px, 100% 1400px, 100% 1100px, 100% 1300px,
    100% 2000px, 100% 1100px;
  background-position: left 00px, left 1800px, left 3000px, left 4300px,
    left 5000px, left 6850px;
}
#bar {
  display: none;
}
.navWebDetails {
  width: 100%;
  height: 100vh;
  background: url('./assets/side\ menu\ overlay\ web.png');
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
  display: none;
}
.navbar {
  width: 1140px;
  height: 140px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightSideNav {
  display: flex;
}
#navMob {
  display: none;
}
.topMobNav {
  width: 350px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
#navWebDetailsClose {
  margin-left: 90%;
  margin-top: 50px;
}
.navWebDetailsOption {
  display: flex;
  flex-direction: column;
  margin-left: 80%;
}
.navWebDetailsOption a {
  text-decoration: none;

  font-weight: 400;
  font-size: 13.51px;
  color: #ffffff;
  font-family: FuturaRegular;
  margin-top: 30px;
}
.navbarMobile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialLink {
  width: 45px;
  height: 45px;
  cursor: pointer;

  margin-top: 0px;
  margin-bottom: -17px;
}
#bar {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  cursor: pointer;
}

/* HERO_SECTION */
.heroSection {
  height: 100%;
  width: 1140px;
  display: flex;
}
.heroLeft h1 {
  font-family: FuturaRegular;
  font-weight: 800;
  font-size: 71.51px;
  color: #ffffff;
  letter-spacing: -2.07215px;
  line-height: 84px;
  margin-bottom: 0;
}
.heroLeft h2 {
  font-family: FuturaRegular;
  font-weight: 800;
  font-size: 52.51px;
  color: #ffffff;
  letter-spacing: -2.07215px;
  line-height: 62px;
  margin-top: 0;
  margin-bottom: 0;
}

.heroLeft h3 {
  font-family: FuturaRegular;
  font-weight: 800;
  font-size: 41.51px;
  color: #ffffff;
  letter-spacing: -2.07215px;
  line-height: 49px;
  margin-top: 10px;
}
.heroLeft p {
  font-family: FuturaMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 20.51px;
  line-height: 27px;
  color: #ffffff;
}
.heroSection img {
  width: 376px;
  height: 696px;
}
.heroLeft {
  margin-left: 100px;
  width: 60%;
}
#buyOnButton {
  width: 285px;
  height: 65px;
  border-radius: 20px;
  background: linear-gradient(180deg, #cdffaa 0%, #5bf243 100%);
  box-shadow: inset 0px -2px 2px 1px #166c32;
  border: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 19px;
  color: #1c8e42;
  font-family: FuturaMedium;
  cursor: pointer;
  margin-top: 20px;
}
#checkIdoButton {
  width: 282px;
  height: 71px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-top: 30px;
  border: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 19px;
  color: white;
  font-family: FuturaMedium;
  cursor: pointer;
}
#launchpad {
  width: 162px;
  height: 71px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-left: 20px;
  border: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 19px;
  color: white;
  font-family: FuturaMedium;
  cursor: pointer;
}

/* PARTNERS */
.partners {
  width: 1140px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}
.partners img {
  margin-right: 50px;
}

/* CONTRACT ADDRESS */
.contractAddress {
  width: 1044px;
  height: 408.15px;

  padding-left: 70px;
  background: url('./assets/Group\ 48095435.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
.walletAddress {
  width: 892px;
  height: 110px;
  background: #0e1d19;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contractAddress h2 {
  font-weight: 800;
  font-size: 52.51px;
  letter-spacing: -2.07215px;
  color: #ffffff;
  font-family: FuturaRegular;
  margin-bottom: 0;
}
.contractAddress h1 {
  font-weight: 800;
  font-size: 71.51px;
  letter-spacing: -2.07215px;
  color: #ffffff;
  font-family: FuturaRegular;
  margin-top: 0;
  margin-bottom: 20px;
}

.walletAddress p {
  font-family: FuturaMedium;
  color: #e0fe4c;
  font-weight: 500;
  font-size: 30px;
}
#copyWallet {
  margin-left: 370px;
}

/* AVN REACH */
.avnReach {
  height: 100%;
  width: 1040px;
}

.avnReach h2 {
  font-family: FuturaRegular;
  font-weight: 800;
  letter-spacing: -2.07215px;
  font-size: 52.51px;
  color: #ffffff;
  text-align: right;
  margin-bottom: 0;
  margin-right: 50px;
  margin-top: 250px;
}

.avnReach h1 {
  font-weight: 800;
  font-size: 71.51px;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  text-align: right;
  margin-top: 0;
  margin-right: 50px;
}
.firstAvn {
  height: 500px;
  width: 100%;
  display: flex;
}
.rightAvnFirstTop {
  display: flex;
}
.leftAvnFirst {
  width: 308.25px;
  height: 474.23px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-left: 60px;
}
.rightAnvFirstTopLeft {
  width: 267.94px;
  height: 239.48px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightAvnSecond {
  width: 559.59px;
  height: 214.19px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  margin-left: 30px;
  margin-top: 20px;
}
#secondLeftTOp {
  margin-top: 0;
  margin-left: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#secondLeftBottom {
  margin-left: 30px;
}
#secondRight {
  margin-left: 20px;
}
.leftAvnFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftAvnFirst img {
  width: 124.57px;
  height: 121.96px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.contractAIudit {
  font-weight: 400;
  font-size: 20.51px;

  font-family: FuturaRegular;
  color: white;
  margin-bottom: 0;
  margin: 0 30px;
}
.should {
  font-weight: 300;
  font-size: 15.51px;
  font-family: FuturaRegular;
  color: white;
  margin: 20px 30px;
}
#bigSHuvo {
  display: flex;
  align-items: center;
}
#bigSHuvo img {
  width: 130.17px;
  height: 126.39px;
  margin-right: 30px;
}
#bigSHuvo p {
  font-weight: 400;
  font-size: 20.51px;

  font-family: FuturaRegular;
  color: white;
  margin: 0 30px;
}
#bigSHuvo h6 {
  font-weight: 300;
  font-size: 15.51px;
  font-family: FuturaRegular;
  color: white;
  margin: 20px 30px;
}

/* TERMS AND CONDITION */
.termsAndCondition {
  height: 1200px;
  width: 1030px;
}
.termsAndCondition h1 {
  font-weight: 800;
  font-size: 71.51px;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-bottom: 0;
  margin-left: 50px;
  margin-top: 100px;
}
.termsAndCondition h3 {
  font-weight: 800;
  font-size: 52.51px;
  line-height: 62px;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-top: 0;
  margin-left: 50px;
}
.termsAndCondionBox {
  margin-left: 30px;
  width: 892px;
  height: 900px;
  background: url('./assets/tandc.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
#tandCFirsId {
  padding-top: 50px;
}
.tandcFirst {
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 60px;

  margin-bottom: -20px;
}
.tandcFirst p {
  font-family: FuturaRegular;
  font-weight: 400;
  font-size: 15.51px;
  color: #ffffff;
  margin-left: 15px;
}
#tandcOther {
  font-weight: 500;
  font-size: 15.51px;
  color: #e0fe4c;
  font-family: FuturaMedium;
  margin-left: 80px;
  margin-top: 50px;
}

/* AVN REACH */
.avnRich {
  height: 100%;
  width: 1000px;
}

.avnRich h2 {
  font-weight: 800;
  font-size: 52.51px;
  margin-bottom: 0;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-left: 800px;
  margin-top: 200px;
}
.avnRich h1 {
  font-size: 71.51px;
  line-height: 84px;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-top: 0;
  margin-left: 700px;
}

.avnRich p {
  font-size: 17.51px;
  line-height: 28px;
  /* or 160% */
  font-family: FuturaRegular;

  color: #ffffff;

  opacity: 0.7;
}

.multiChain {
  height: 100%;
  width: 1040px;
}
.multiChain h2 {
  font-weight: 800;
  font-size: 52.51px;
  margin-bottom: 0;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  text-align: center;
  margin-top: 200px;
}
.multiChain h1 {
  font-size: 71.51px;
  line-height: 84px;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}
.multichainLogoFirst {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.multichainLogoFirst img {
  margin-left: 60px;
}
#multichainLogoSecond {
  margin-top: 50px;
}

.tokenomics {
  height: 1500px;
  width: 1000px;
}
.tokenomics h2 {
  font-weight: 800;
  font-size: 52.51px;
  margin-bottom: 0;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-top: 200px;
}
.tokenomics h1 {
  font-size: 71.51px;
  line-height: 84px;
  letter-spacing: -2.07215px;
  font-family: FuturaRegular;
  color: #ffffff;
  margin-top: 0;
}
#chart {
  margin-left: 100px;
}
.tokenomicsDirection {
  display: flex;
  width: 100%;
  margin-left: 200px;
}
.tokenomicsDirection img {
  margin-top: 20px;
  margin-right: 20px;
}
.lastBanner {
  height: 400px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastBannerBody {
  width: 892px;
  height: 230px;
  background: url('./assets/Group\ 48095428.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lastBannerBody h1 {
  font-family: FuturaBold;
  background: linear-gradient(180deg, #264732 0%, #828e4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 32px;
}
.lastBannerBody img {
  cursor: pointer;
}
.footer {
  height: 100%;
  margin-bottom: 50px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.footerOne {
  margin-top: 100px;
}
.footerOne p {
  font-weight: 400;
  font-size: 13.51px;
  font-family: FuturaRegular;
  color: white;
}
.footerOne h4 {
  font-weight: 400;
  font-size: 12.51px;

  /* identical to box height, or 176% */

  font-family: FuturaRegular;
  color: #d7fd4c;
  margin-bottom: -30px;
}
#emailInput {
  width: 272px;
  height: 47px;
  background: #0e1d19;
  border-radius: 12px;
  border: none;
  padding-left: 20px;
}
#emailSendButton {
  margin-bottom: -45px;
  margin-left: -40px;
  margin-top: 40px;
  cursor: pointer;
}
.footerTwo {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.footerTwo h4 {
  font-weight: 500;
  font-size: 15.51px;
  line-height: 21px;
  /* identical to box height */

  font-family: FuturaMedium;
  color: #ffffff;
}
.footerTwo a {
  text-decoration: none;
  font-weight: 300;
  font-size: 15.51px;
  line-height: 22px;
  /* or 142% */
  font-family: FuturaLight;
  color: #ffffff;

  opacity: 0.7;
}
.footerSocial {
  margin-top: 100px;
}
.tokenomicsLeft {
  display: flex;
  flex-wrap: wrap;
}
#homeFooter {
  margin-top: 150px;
}
@media only screen and (max-width: 768px) {
  .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./assets/Group\ 48095547.png'),
      url('./assets/Group\ 48095544.png'), url('./assets/Group\ 48095545.png'),
      url('./assets/Group\ 48095546.png'), url('./assets/avnRichBg.png'),
      url('./assets/fourthBg.png'), url('./assets/fifthBg.png');
    background-size: 100% 1374px, 323px 500px, 100% 2700px, 100% 1600px,
      100% 1395px, 100% 1225px, 100% 1390px;
    background-position: left top, right 1200px, left 1300px, left 4060px,
      left 5400px, left 6600px, left 7800px;
    background-repeat: no-repeat;
  }
  .navbar {
    width: 350px;
    height: 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socialLink {
    display: none;
  }
  .heroSection {
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 410px;
  }
  .heroLeft {
    margin-left: 0px;
    width: 100%;
    background: none;
    background-size: 100% 500px;
    background-position: left top;
    background-repeat: no-repeat;
  }
  #bar {
    width: 24px;
    height: 24px;
    margin-left: 0px;
    cursor: pointer;
  }
  .heroSection img {
    width: 338px;
    height: 652px;
  }
  .heroLeft h1 {
    font-family: FuturaRegular;
    font-weight: 800;
    font-size: 47.51px;
    color: #ffffff;
    letter-spacing: -2.07215px;
    line-height: 84px;
    margin-bottom: 0;
    margin-top: 127px;
  }
  .heroLeft h2 {
    font-family: FuturaRegular;
    font-weight: 800;
    font-size: 33.51px;
    color: #ffffff;
    letter-spacing: -2.07215px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .heroLeft h3 {
    font-family: FuturaRegular;
    font-weight: 800;
    font-size: 28.51px;
    color: #ffffff;
    letter-spacing: -2.07215px;
    line-height: 30px;
    margin-top: 10px;
  }
  .heroLeft p {
    font-family: FuturaMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 13.51px;
    line-height: 20px;
    color: #ffffff;
  }
  #buyOnButton {
    width: 231px;
    height: 65px;
    border-radius: 20px;
    background: linear-gradient(180deg, #cdffaa 0%, #5bf243 100%);
    box-shadow: inset 0px -2px 2px 1px #166c32;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
    color: #1c8e42;
    font-family: FuturaMedium;
    cursor: pointer;
    margin-top: 20px;
  }
  #checkIdoButton {
    width: 162px;
    height: 61px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-top: 30px;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11px;
    color: white;
    font-family: FuturaMedium;
    cursor: pointer;
  }
  #launchpad {
    width: 119px;
    height: 61px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-left: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11px;
    color: white;
    font-family: FuturaMedium;
    cursor: pointer;
  }
  .partners {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    flex-wrap: wrap;
  }
  .partners img {
    margin-right: 25px;
    margin-top: 44px;
  }
  .contractAddress {
    width: 350px;
    height: 329.15px;
    padding-left: 0px;
    background: url('./assets/Group\ 48095435.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }
  .contractAddress h2 {
    font-weight: 800;
    font-size: 32.51px;
    letter-spacing: -2.07215px;
    color: #ffffff;
    font-family: FuturaRegular;
    margin-bottom: 0;
  }
  .contractAddress h1 {
    font-weight: 800;
    font-size: 50.51px;
    letter-spacing: -2.07215px;
    color: #ffffff;
    font-family: FuturaRegular;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .tokenomicsLeft {
    margin-top: 25px;
  }
  .tokenomicsDirection img {
    margin-top: -54px;
    margin-right: 17px;
    width: 153.36px;
    height: 93.55px;
  }
  .walletAddress {
    width: 100%;
    height: 70px;
    background: #0e1d19;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .walletAddress p {
    font-family: FuturaMedium;
    color: #e0fe4c;
    font-weight: 500;
    font-size: 14px;
  }
  #copyWallet {
    margin-left: 104px;
    width: 122.17px;
    height: 54.02px;
    margin-top: -12px;
  }
  .avnReach {
    height: 100%;
    width: 350px;
  }
  .avnReach h2 {
    font-family: FuturaRegular;
    font-weight: 800;
    letter-spacing: -2.07215px;
    font-size: 32.51px;
    color: #ffffff;
    text-align: right;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 50px;
  }
  .avnReach h1 {
    font-weight: 800;
    font-size: 50.51px;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    text-align: right;
    margin-top: 0;
    margin-right: 10px;
  }
  .firstAvn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .leftAvnFirst {
    width: 262.25px;
    height: 318.23px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-left: 46px;
  }
  .leftAvnFirst img {
    width: 87.57px;
    height: 86.96px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .rightAvnFirstTop {
    display: flex;
    flex-direction: column;
  }
  .rightAnvFirstTopLeft {
    width: 267.94px;
    height: 239.48px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
  .rightAvnSecond {
    width: 272.59px;
    height: 100%;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 40px;
    margin-top: 20px;
  }
  #bigSHuvo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #bigSHuvo img {
    width: 101.17px;
    height: 126.39px;
    margin-right: 103px;
  }
  .rightAnvFirstTopLeft {
    width: 267.94px;
    height: 239.48px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
  #secondLeftTOp {
    margin-top: 0;
    margin-left: 37px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #secondRight {
    margin-left: 40px;
    margin-top: 20px;
  }
  .termsAndCondition {
    height: 1200px;
    width: 350px;
  }
  .termsAndCondition h1 {
    font-weight: 800;
    font-size: 50.51px;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 179px;
  }
  .termsAndCondition h3 {
    font-weight: 800;
    font-size: 31.51px;
    line-height: 62px;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-top: 0;
    margin-left: 6px;
  }
  .termsAndCondionBox {
    margin-left: 0px;
    width: 350px;
    height: 90%;
    background: url('./assets/dfsdfsadf.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }
  #tandCFirsId {
    padding-top: 0px;
  }
  .tandcFirst {
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 19px;
    margin-bottom: 40px;
  }
  .tandcFirst p {
    font-family: FuturaRegular;
    font-weight: 400;
    font-size: 10.51px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 30px;
  }
  #tandcOther {
    font-weight: 500;
    font-size: 11.51px;
    color: #e0fe4c;
    font-family: FuturaMedium;
    margin-left: 42px;
    margin-top: 50px;
    margin-right: 47px;
  }
  .tandcFirst img {
    margin-left: 20px;
  }
  .avnRich {
    height: 100%;
    width: 350px;
  }
  .avnRich h2 {
    font-weight: 800;
    font-size: 32.51px;
    margin-bottom: 0;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 504px;
    text-align: right;
  }
  .avnRich h1 {
    font-size: 50.51px;
    line-height: 84px;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-top: 0;
    margin-left: 0;
    text-align: right;
  }
  .avnRich p {
    font-size: 14.51px;
    line-height: 24px;
    font-family: FuturaRegular;
    color: #ffffff;
    opacity: 0.7;
    margin: 0px 20px;
  }
  .multiChain {
    height: 100%;
    width: 350px;
  }
  .multiChain h2 {
    font-weight: 800;
    font-size: 31.51px;
    margin-bottom: 0;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    text-align: center;
    margin-top: 83px;
  }
  .termsAndCondionBox {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .multiChain h1 {
    font-size: 51.51px;
    line-height: 84px;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-top: 0;
    text-align: center;
  }
  .multichainLogoFirst {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .multichainLogoFirst img {
    margin-left: 34px;
    margin-top: 34px;
    width: 132.06px;
    height: 30.22px;
  }
  .tokenomics {
    height: 100%;
    width: 350px;
  }
  .tokenomics h2 {
    font-weight: 800;
    font-size: 31.51px;
    margin-bottom: 0;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-top: 351px;
  }
  .tokenomics h1 {
    font-size: 51.51px;
    line-height: 84px;
    letter-spacing: -2.07215px;
    font-family: FuturaRegular;
    color: #ffffff;
    margin-top: 0;
  }
  #chart {
    margin-left: 1px;
    width: 385px;
    height: 358px;
  }
  .tokenomicsDirection {
    display: flex;
    width: 100%;
    margin-left: 14px;
    flex-direction: column;
  }
  .lastBannerBody {
    width: 310px;
    height: 208px;
    background: url('./assets/Group\ 48095428.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0px 30px; */
    margin-top: 182px;
  }
  .lastBannerBody h1 {
    font-family: FuturaBold;
    background: linear-gradient(180deg, #264732 0%, #828e4c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 25px;
  }
  .lastBannerBody img {
    cursor: pointer;
    width: 175px;
    height: 52.91px;
  }
  .footer {
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 91px;
  }
  .footerTwo {
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    margin-right: 55px;
  }
  .navsocial {
    display: block !important;
  }
  .footerTwo {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 57px;
  }
  .footerSocial {
    display: flex;
    margin-top: 20px;
  }
  .rightAvnFirstTop {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
  }
  .navbarMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url('./assets/launchpad/Launchpad\ mob\ -\ side\ menu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }

  #navMob {
    display: none;
  }
  .topMobNav {
    width: 350px;
  }
  #navMobLogo {
    margin-left: 10%;
  }
  .navMoboption {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navMoboption a {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 13.51px;
    color: #ffffff;
    font-family: FuturaRegular;
    margin-top: 30px;
  }
  .navMobSocial {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  #bar {
    display: block;
  }
  #barWeb {
    display: none;
  }
}
